################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Activity/.vs/Activity/v16
/Activity/obj/Debug
/Activity/obj/Release
